.con1 {
  width: 75%;
  margin: auto;
}
.con2 {
  background-image: url(../images/src=http___img3.doubanio.com_view_group_topic_l_public_p474102030.jpg&refer=http___img3.doubanio.webp);
  height: 750px;
}

.style1 {
  width: 1000px;
  height: 300px;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  line-height: 12px;
  padding: 25px;
  border: 1px solid gray;
}
.style1,
img {
  display: flex;
  position: static;
  flex-direction: row;
  width: 150px;
  height: 150px;
  padding-right: 14px;
}
.style-a {
  width: 80%;
  height: 200px;
}

h2 {
  text-align: center;
  color: darkgreen;
}
.style2 {
  width: 1000px;
  margin: 10px;
  height: 300px;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  line-height: 12px;
  padding: 25px;
  border: 1px solid gray;
}
.style2,
img {
  width: 150px;
  height: 150px;
  padding-left: 14px;
}
.style3 {
  width: 1000px;
  margin: 10px;
  height: 300px;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  line-height: 12px;
  padding: 25px;
  border: 1px solid gray;
}
.style3,
img {
  width: 150px;
  height: 150px;
  padding-right: 14px;
}
.style4 {
  width: 1000px;
  margin: 10px;
  height: 300px;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  line-height: 12px;
  padding: 25px;
  border: 1px solid gray;
}
.style4,
img {
  width: 150px;
  height: 150px;
  padding-left: 14px;
}
