.con1 {
  width: 1030px;
  background-color: antiquewhite;
  margin: auto;
}
.part1 {
  height: 195px;
  margin: auto;
  background-image: url(../images/WechatIMG240.jpeg);
  width: 1030px;
}
.part2 {
  height: 25px;
  background-image: url(../images/WechatIMG244.jpeg);
}
span {
  text-align: center;
  display: block;
}
span li {
  width: 100px;
  height: 20px;
  display: inline-block;
  list-style: none;
  margin: 0px 10px;
  font-weight: 600;
}
.style1 {
  width: 300px;
  height: 825px;
  font-family: "Courier New", Courier, monospace;
  background-color: antiquewhite;
  float: left;
}
.style1 p {
  padding: 0px 10px;
  line-height: 25px;
}
.style1 h3 {
  color: darkgreen;
  background-image: url(../images/WechatIMG250.jpeg);
  width: 150px;
  padding-left: 50px;
  margin-top: 10px;
}
.style1 h2 {
  text-align: center;
}
.style2 {
  float: left;
}
.style2 span img {
  padding: 15px 10px 15px 10px;
}
.style3 {
  width: 550px;
  height: 825px;
  float: right;
  background-color: antiquewhite;
}
.style-a {
  width: 550px;
  height: 300px;
  float: right;
}
.style-a span {
  width: 500px;
  margin-left: 0px;
}
.style-a span img {
  margin-top: 0px;
  margin-left: 0px;
}
.style3 img {
  margin: 0px 0px 10px 0px;
}
.style-b img {
  margin-top: 10px;
}
.style-b h2 {
  text-align: center;
  margin-top: 0px;
}
.style-b p {
  line-height: 30px;
  font-family: "Courier New", Courier, monospace;
  padding: 0px 10px;
}
.part4 {
  float: left;
  height: 10px;
  width: 1030px;
  background-color: aquamarine;
}
