.con {
  width: 1000px;
  margin: auto;
  background-color: antiquewhite;
}
.con1 {
  width: 1000px;
  height: 210px;
}
img {
  width: 400px;
  height: 200px;
}
.left {
  width: 400px;
  height: 210px;
  float: left;
  margin-top: 10px;
  clear: both;
}
.clearfloat {
  clear: both;
}
.right {
  float: right;
  height: 200px;
  width: 550px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  margin-left: 10px;
  padding-top: 10px;
  font-weight: bold;
}

.line {
  border-top: 1px solid gray;
}
.style1:hover {
  color: gray;
}
.span1 {
  width: 1000px;
  height: 90px;
  margin: auto;
  background-color: moccasin;
  text-align: center;
}

a {
  width: 100px;
  height: 80px;
  margin: 10px 20px;
  display: inline-block;
  line-height: 80px;
  text-decoration: none;
  color: gray;
}
a:hover {
  background-color: pink;
  color: skyblue;
}
